.button {
  width: 100%;
  background-color: rgb(168, 0, 247);
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}

.button:disabled {
  width: 100%;
  background-color: rgb(134, 134, 134);
  cursor: not-allowed;
}
